{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <section> 
        {{ articleRandom.id }}
        {{ articleRandom.nom }}
        {{ articleRandom.description }}
    </section>
    
    
{% endblock %}
